<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{trans.editor.user_title}}</title>
    <link rel="stylesheet" href="/css/Iconfont/iconfont.css"/>
    <link rel="stylesheet" href="/css/public_blue_form.css"/>
    <link rel="stylesheet" href="/css/public_blue.css?{{getversion}}">
    <!--基本样式-->
	<link href="/css/select/css/select-mania.css" rel="stylesheet" type="text/css">
    <!--本业表单样式-->
    <link href="/css/editor/form.css" rel="stylesheet" type="text/css">
	<!--自定义样式-->
	<link href="/css/select/css/themes/select-mania-theme-darkblue.css" rel="stylesheet" type="text/css">
	<link href="/css/select/css/themes/select-mania-theme-square.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
    .row {
    position: relative;
    display: inline-block;
    }

    .row input {
    padding-right: 30px;
    }

    .clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
    display: none;
    }

    .clear-icon:hover {
    color: #999;
    }
    </style>
</head>
<body>
<div class="ajax_background"></div>
<div id="ajax_loading">
    <img src="/images/ajax-loader.gif" alt="loading"/>
</div>

<form method="post" name="form" enctype="application/x-www-form-urlencoded" id="form" autocomplete="off">
    <div class="form-box">
        <div class="form-head">
            <i class="iconfont icon-jilu"></i>
            {%if  action_name == "Add" %}
                {{trans.common.add}}
            {% else %}
                {{trans.common.edit}}
            {% endif %}
            {{trans.editor.user}}
            <button class="form-btn btn-red mar-left" type="button"
                    onclick="location.href='/user/list'">{{trans.common.cancel}}</button>
            <button class="form-btn btn-green" type="submit" name="submit"
                    id="submit">{{trans.common.save_deposit}}</button>
        </div>
        <div class="form-body">
            <div class="row">
                <label for="username" class="form_labelText col-3"><span
                            class="required">*</span>{{trans.common.username}}：</label>
                <input type="hidden" name="id" value="{{user.id | default(value=0)}}"/>
                <input type="text" name="username" id="username" value="{{user.username}}"
                {%if  action_name != "Add" %}disabled="disabled"{% endif %} class="form_text col-13"/>
                <i class="fas fa-times-circle clear-icon" id="clearIcon"></i>             
            </div>
            <div class="row">
                <label for="password" class="form_labelText col-3">{%if  action_name == "Add" %}
                        <span class="required">*</span>{% endif %}{{trans.common.password}}：</label>
                <input name="password" type="password" id="password" class="form_text col-13"/>
                
            </div>
            <div class="row">
                <label for="re_password" class="form_labelText col-3">{%if  action_name == "Add" %}
                        <span class="required">*</span>{% endif %}{{trans.editor.repeatPassword}}：</label>
                <input name="re_password" type="password" id="re_password" class="form_text col-13"/>
            </div>
            <div class="row">
                <label for="name" class="form_labelText col-3">{{trans.common.name}}：</label>
                <input type="text" name="name" id="name" value="{{user.name}}" class="form_text col-13"/>
            </div>
            <div class="row">
                <label for="email" class="form_labelText col-3">{{trans.editor.email}}：</label>
                <input name="email" type="email" id="email" class="form_text col-13" value="{{user.email}}"/>
            </div>
            <div class="row">
                <label for="is_active" class="form_labelText col-3">{{trans.editor.is_active}}：</label>
                {%if  action_name == "Add" %}
                    <input name="is_active" type="checkbox" id="is_active" class="form_text col-1" checked="checked" />
                {% else %}
                    <input name="is_active" type="checkbox" id="is_active" class="form_text col-1" {%if user.is_active %}checked{% endif %}/>
                {% endif %}
                
            </div>
            <!-- 弹框结束 -->
            <div class="row">
                <label for="description" class="form_labelText col-3">{{trans.editor.note}}：</label>
                <textarea class="form_textarea col-13" name="description" id="description"
                          maxlength="250">{{user.description}}</textarea>
            </div>
        </div>
    </div>
</form>
</body>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/main.js?"></script>
<script src="/js/form/form.js"></script>
<script src="/css/select/js/select-mania.js"></script>
<script>

    $(function () {
        $("tr.rows_rest").each(function () {
            var cls = $(this).attr("class");
            var level = parseInt(cls.substr(cls.indexOf('level_') + 6).split(" ")[0]);

            if (level > 0) {
                var s = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                for (i = 1; i < level; i++) {
                    s += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                }
                $(this).find("span").eq(0).before(s);
            }

            if ($(this).next().hasClass("level_" + (level + 1))) {
                $(this).find(".collect-icon").text("-").css("visibility", "visible");
            } else {
                if (cls == "rows_rest level_0") {
                    $(this).find(".collect-icon").text("-").css("visibility", "visible");
                }
            }
            $(this).data("level", level);

        });

        $(".collect-icon").click(function (e) {
            if (e.target.nodeName != "A") {
                var $tr = $(this).parent().parent();
                var level = $tr.data("level");
                if ($tr.next().hasClass("level_" + (level + 1))) {
                    var show = $tr.hasClass("collected");
                    if (show) {
                        $tr.removeClass("collected");
                        $tr.find(".collect-icon").text("-");
                    } else {
                        $tr.addClass("collected");
                        $tr.find(".collect-icon").text("+");
                    }
                    var hideLevel = 0;
                    while (($tr = $tr.next()).length && $tr.data("level") > level) {
                        if (show) {
                            if (hideLevel) {
                                if (hideLevel == $tr.data("level")) {
                                    hideLevel = 0;
                                } else {
                                    continue;
                                }
                            }
                            $tr.show();
                            if ($tr.hasClass("collected")) {
                                hideLevel = $tr.data("level");
                            }
                        } else {
                            $tr.hide();
                        }
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        jQuery.validator.addMethod("chineseValidate", function() {
            var username = $("#username").val();
            var reg = /[\u4E00-\u9FA5]/g;
            if(!reg.test(username)){
                return true;
            } else {
                return false;
            }
        })

        $("#form").validate({
            rules: {
                username: {
                    required: true,
                    maxlength: 64,
                    chineseValidate: true
                },
                {%if  action_name == "Add" %}
                password: {
                    required: true,
                    equalTo: "#re_password",
                    minlength: 6
                },
                re_password: {
                    "required": true,
                },
                {% else %}
                password: {
                    required: function () {
                        var rp = $("#re_password").val();
                        if (rp != "") {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    equalTo: "#re_password",
                    minlength: 6,
                },
                re_password: {
                    "required": function () {
                        var pwd = $("#password").val();
                        if (pwd != "") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                },
                {% endif %}
                tenantid: "required",
                otype: {
                    "required": true,
                },
                usergroup:{
                    "required": true,
                }
            },
            messages: {
                username: {
                    required: '{{trans.editor.prompt_information}}',
                    maxlength: '{{trans.editor.toolong}}',
                    chineseValidate: '{{trans.editor.chineseValidate}}'
                },
                re_password: '{{trans.editor.passwordEmptyT}}',
                password: {
                    required: '{{trans.editor.passwordEmpty}}',
                    equalTo: '{{trans.editor.passwordMatch}}',
                    minlength: '{{trans.editor.passwordMatch6}}',
                },
                email:'{{trans.editor.checkEmail}}',
            }
        });
    });

    const searchInput = document.getElementById('username');
    const clearIcon = document.getElementById('clearIcon');

    searchInput.addEventListener('input', function() {
    clearIcon.style.display = this.value ? 'block' : 'none';
    });

    clearIcon.addEventListener('click', function() {
    searchInput.value = '';
    clearIcon.style.display = 'none';
    searchInput.focus();
    });
</script>
</html>
