[dependencies]
askama = "0.14"
axum = "0.8"
config = "0.15"
captcha-rs = "0.2.11"
dotenv = "0.15"
serde = { version="1", features = ["derive"] }
serde_json = "1"
tera = "1.20.0"
tokio = { version = "1.25", features = ["full"] }
tower-http = { version = "0.6.6", features = ["fs", "trace"] }
tower-sessions = {version="0.14" } 
tracing = "0.1.37"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
lazy_static = "1.5.0"